<div class="d-flex flex-column flex-lg-row justify-content-md-center align-items-center">
  <button id="generateNextBtn"class="bg-danger text-black rounded-pill p-2 my-2 px-4 mx-2">Opps Sorry :(</button>
  <button id="likeBtn"class="bg-success text-black rounded-pill px-4 p-2">It feels right :)</button>
</div>