<div class="mt-2">
  <button id ="viewLikesBtn" class="btn btn-danger rounded-pill text-white text-decoration-none">View Likes</button>
</div>
<script>
  const viewLikesBtn=document.getElementById('viewLikesBtn')
  console.log(viewLikesBtn)
  viewLikesBtn.addEventListener('click',()=>{
    
  })
</script>