<form class="d-flex flex-column bg-danger text-white bg-opacity-50 py-2 fs-2">
  <div class="mb-3">
    <p>When is your birthday</p>
    <p><small>mm/dd/yyyy</small></p>
    <input class="form-input border-top-0 border-start-0 border-end-0 bg-transparent" type="text" id="birthday" />
  </div>
  <div>
    <button class="btn btn-danger badge bg-danger text-wrap rounded-pill mb-3">That's It</button>
  </div>
  </form>