<div>
  <p class="fw-bold fs-2 mb-5">Let's talk about you</p>
</div>
<div class="row row-cols-3 d-flex flex-column flex-md-row justify-content-md-center align-items-center">
    <div class="bg-danger text-white p-3 rounded-pill my-2"><h2>Homebody</h2></div>
    <div class="bg-danger text-white p-3 rounded-pill my-2 "><h2>Extrovert</h2></div>
    <div class="bg-danger text-white p-3 rounded-pill my-2"><h2>Artistic Mind</h2></div>
    <div class="bg-danger text-white p-3 rounded-pill my-2"><h2>Adventure Enthusiasts</h2></div>
    <div class="bg-danger text-white p-3 rounded-pill my-2"><h2>Healthy-Nut</h2></div>
    <div class="bg-danger text-white p-3 rounded-pill my-2"><h2>Computer-Geek</h2></div>
    <div class="bg-danger text-white p-3 rounded-pill w-50 mt-2"><h4>I dont know if it's a hobby but I like doing it</h4></div>
  </div>