<div>
  <p class="fw-bold fs-2 mb-5">Let's talk about you</p>
</div>
<div class="row row-cols-3 d-flex flex-column flex-md-row justify-content-md-center align-items-center">

  {{#each categories}}
  
  <div class="bg-danger text-white p-3 rounded-pill my-2">
  <h2>
    <a class="text-white" href="/categories/{{id}}">
      {{name}}
    </a>
    </h2>
  </div>
{{/each}}
</div>
    