<div>
  <p class="fw-bold fs-2 mb-3">{{category.name}}</p>
</div>
<div class="row row-cols-3 d-flex flex-column flex-sm-row justify-content-md-center align-items-center">
  <ul>
    {{#each category.hobbies}}
  <div class="list-group-items flex-shrink-0 bg-danger text-white fs-4 m-2 p-2 rounded-pill" data-hobby-id="{{id}}">{{name}}
  </div>
    {{/each}}
  </ul>
</div>
<script>
  const listItem= document.getElementsByClassName('list-group-items')
  
  for (var i=0; i<listItem.length; i++){
    const id = listItem[i].getAttribute("data-hobby-id")
    listItem[i].addEventListener('click',()=>{
      console.log(id)

      fetch('/api/savehobbies',{
        method:'POST',
        headers:{
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          hobby: id
        })
        
      })
      .then(response =>console.log(response))
      
    })
  }
  
</script>

