<div class ="text-danger fs-2 ">
      <p class ="fw-bold">you are not here to make friends</p>
      <p class ="fs-5 text-black">but to find love and frienship in the same person</p>
      <button type="button" class="btn btn-danger badge bg-danger text-wrap rounded-pill">Create Account</button>
    </div>