<form class="d-flex flex-column bg-danger text-white bg-opacity-50 py-2 fs-2">
  <div class="mb-3">
    <p>Hi, Let's get started</p>
    <p>What is your name?</p>
    <input class="form-input border-top-0 border-start-0 border-end-0 bg-transparent" type="text" id="name" />
  </div>
  <div>
    <button class="btn btn-danger badge bg-danger text-wrap rounded-pill mb-3"><a class ="text-white text-decoration-none" href="/birthday">That's Me</a></button>
  </div>
      </form>