<div class="border-0">
  <select class="form-select bg-danger text-white py-2 m-2 fs-5 border-0">
    <option selected>What is your current relationship status?</option>
    <option class ="bg-opacity-50 text-black" value="1">Defitnitely Single</option>
    <option class ="bg-opacity-50 text-black" value="2" class="bg-opacity-50">Seperated</option>
    <option class ="bg-opacity-50 text-black" value="3">Divorced</option>
    <option class ="bg-opacity-50 text-black" value="4">Widowed</option>
  </select>
  <select class="form-select bg-danger text-white py-2 m-2 fs-5 border-0">
    <option selected>Do you have kids?</option>
    <option class ="bg-opacity-50 text-black" value="1">No</option>
    <option class ="bg-opacity-50 text-black" value="2">Yes, they live at home</option>
    <option class ="bg-opacity-50 text-black" value="3">Yes, they live away from home</option>
    <option class ="bg-opacity-50 text-black" value="4">Yes, they sometimes live at home</option>
  </select>
  <select class="form-select bg-danger text-white py-2 m-2 fs-5 border-0">
    <option selected>Do you want kids?</option>
    <option class ="bg-opacity-50 text-black" value="1">Defitnitely</option>
    <option class ="bg-opacity-50 text-black" value="2">Someday</option>
    <option class ="bg-opacity-50 text-black" value="3">Noway</option>
  </select>
  <select class="form-select bg-danger text-white py-2 m-2 fs-5 border-0">
    <option selected>Would you consider yourself religious?</option>
    <option class ="bg-opacity-50 text-black" value="1">Yes</option>
    <option class ="bg-opacity-50 text-black" value="2">No</option>
  </select>
  <select class="form-select bg-danger text-white py-2 m-2 fs-5 border-0">
    <option selected>What Harry Potter house would you belong to?</option>
    <option class ="bg-opacity-50 text-black" value="1">Gryffindor</option>
    <option class ="bg-opacity-50 text-black" value="2">Slytherin</option>
    <option class ="bg-opacity-50 text-black" value="3">Hufflepuff</option>
    <option class ="bg-opacity-50 text-black" value="4">Ravenclaw</option>
  </select>
  <button type="button" class="btn btn-danger badge bg-danger text-wrap rounded-pill "><a class ="text-white fs-3 text-decoration-none" href="/categories">Next</a></button>

      <button class="btn btn-danger badge bg-danger text-wrap rounded-pill mb-3"><a href="#">Continue</a></button>
</div>

