{{>navbar}}
<form class="form login-form d-flex flex-column bg-danger text-white bg-opacity-50 py-2 fs-5">
  <div class="">
    <p>Let's setup an account with us</p>
  </div>
  <div class="form-group">
    <label for="name">What's your name?</label>
    <input class="form-input border-top-0 border-start-0 border-end-0 p-1" type="text" id="name" />
  </div>
  
  <div class="form-group">
    <label for="name">Email:</label>
    <input class="form-input border-top-0 border-start-0 border-end-0 p-1" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="name">Password</label>
    <input class="form-input border-top-0 border-start-0 border-end-0 p-1" type="password" id="password-login" />
  </div>
  <div>
    <button id="signUpBtn" class="btn badge text-wrap rounded-pill mb-3">That's It</button>
  </div>

</form>
<script src="./js/setupacc.js"></script>
