<form class="form login-form d-flex flex-column bg-danger text-white bg-opacity-50 py-2 fs-5">
  <div class="">
    <p>Let's setup an account with us</p>
  </div>
  <div class="form-group">
    <label for="name">What's your name?</label>
    <input class="form-input border-top-0 border-start-0 border-end-0 bg-transparent p-1" type="text" id="name" />
  </div>
  
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input border-top-0 border-start-0 border-end-0 bg-transparent p-1" type="text" id="email-login" />
  </div>
  <div class="form-group mb-3 ">
    <label for="password-login">Password:</label>
    <input class="form-input border-top-0 border-start-0 border-end-0 bg-transparent p-1" type="password" id="password-login" />
  </div>
  <div>
    <button id="btn" class="btn btn-danger badge bg-danger text-wrap rounded-pill mb-3">That's It</button>
  </div>

</form>
<script>
  const btn = document.getElementById('btn')

  btn.addEventListener('click', async (e)=>{
    e.preventDefault()
  
    const nameInput = document.getElementById('name')
    const emailInput = document.getElementById('email-login')
    const passwordInput = document.getElementById('password-login')

     const newUserAcc={
       name: nameInput.value,
       email: emailInput.value,
    password: passwordInput.value
     }
    const responseUser = await fetch('/api/user/setupacc',{
      method: 'POST',
      headers:{
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(newUserAcc)
    })

  })

</script>