<div class="mb-3">
  <label class="form-label mb-3 text-black fw-bold fs-3">Tell us about yourself</label>
  <textarea class="form-control bg-danger bg-opacity-50" id="story" rows="10"></textarea>
  </div>
  <div>
  <button class="btn btn-danger bg-danger text-wrap rounded-pill fw-bold">That's Me</button>
</div>